@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/*** Colors***/
$white:  hsl(0, 0%, 100%);
$lightgray: hsl(212, 45%, 89%);
$grayishblue: hsl(220, 15%, 55%);
$darkblue: hsl(218, 44%, 22%);

/***Font size***/
$fontsize: 15px;

/*** Font Family***/
$fontfamily: 'Outfit', sans-serif;

/***Font Weight***/
$lightfontweight:400;
$boldfontweight:700;

